@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Montserrat", Arial, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
.swiper-pagination-bullet-active {
  background-color: #99a66d !important;
}

.swiper-slide {
  transition: all 0.2s ease-in-out;
}

.swiper-slide-prev {
  opacity: 0;
}

.swiper-slide-next {
  opacity: 0;
}

.swiper {
  overflow: visible;
}

.swiper-pagination {
  margin-bottom: -65px;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  background-color: #585858;
}

#mobileButtonMenu {
  z-index: 100 !important;
}

.swiper-button-next {
  background-color: #000;
  color: #fff;
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}
.swiper-button-next::after {
  font-size: 14px;
}
.swiper-button-prev {
  background-color: #000;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.swiper-button-prev::after {
  font-size: 14px;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

/* Стили для страниц без tailwind */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Asgard";
    src: url("font/AsgardTrial-WideBold.ttf"),
    url("font/AsgardTrial-WideBoldBackslant.woff"),
    url("font/AsgardTrial-WideBoldItalic.woff"),
    url("font/AsgardTrial-WideFat.woff"),
    url("font/AsgardTrial-WideFatBackslant.woff"),
    url("font/AsgardTrial-WideFatItalic.woff"),
    url("font/AsgardTrial-WideLight.woff"),
    url("font/AsgardTrial-WideLightBackslant.woff"),
    url("font/AsgardTrial-WideLightItalic.woff"),
    url("font/AsgardTrial-WideMedium.woff"),
    url("font/AsgardTrial-WideMediumBackslant.woff"),
    url("font/AsgardTrial-WideMediumItalic.woff"),
    url("font/AsgardTrial-WideRegular.woff"),
    url("font/AsgardTrial-WideRegularBackslant.woff"),
    url("font/AsgardTrial-WideMediumItalic.woff"),
    url("font/AsgardTrial-WideRegular.woff"),
    url("font/AsgardTrial-WideRegularBackslant.woff"),
    url("font/AsgardTrial-WideRegularItalic.woff"),
    url("font/AsgardTrial-WideThin.woff"),
    url("font/AsgardTrial-WideThinBackslant.woff"),
    url("font/AsgardTrial-WideXboldItalic.woff"),
    url("font/AsgardTrial-WideXbold.woff"),
    url("font/AsgardTrial-WideXboldBackslant.woff"),
    url("font/AsgardTrial-WideXlight.woff"),
    url("font/AsgardTrial-WideXlightBackslant.woff"),
    url("font/AsgardTrial-WideXlightItalic.woff");
}

.wrapper {
  max-width: 1124px;
  margin: 0 auto;
}
.intro {
  background-image: url("./assets/Website Assets/Dignity/Intro/5528488 1.png");
  height: 930px;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 66px;
  padding-bottom: 211px;
}

.intro__heading {
  font-family: 'Asgard', sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 12px;
}

.intro__paragraph {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 28px;
}

.intro__btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 22px;
  padding: 12px 54px;
}

.cards-container {
  background-color: #FAF2E7;
}
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 161px 0;
}
.card {
  overflow: hidden;
  width: 357px;
  height: 584px;
  position: relative;
  perspective: 1000px;
}

.card__date {
  font-family: 'Asgard', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: #000;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.card__announce-front {
  font-family: 'Asgard', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #000;
  width: 306px;
}

.card__announce-back {
  font-family: 'Asgard', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #fff;
  width: 306px;
}

.card__description {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.card__speaker {
  margin-top: 24px;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.card__btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  border-radius: 22px;
  padding: 12px 54px;
}

.front1 {
  background-size: cover;
  background-image: url("./assets/Website Assets/Dignity/Cards/Untitled-1 1.png");
}

.front2 {
  background-size: cover;
  background-image: url("./assets/Website Assets/Dignity/Cards/Ai-file-1 1.png");
}

.front3 {
  background-size: cover;
  background-image: url("./assets/Website Assets/Dignity/Cards/Ai-file-3 1.png");
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  backface-visibility: hidden;
  border: 1px solid #000000;
}

.front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  align-items: flex-start;
}

.back {
  background-color: #2E2E2E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 31px 27px;
  transition: all 0.2s ease-in-out;
  color: #fff;
  opacity: 0;
}
.card:hover .back {
  opacity: 1;
}

.cards-mobile-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.star-left {
  position: absolute;
  left: calc(50% - 216px);
}

.star-right {
  position: absolute;
  right: calc(50% - 236px);
}


.speakers {
  height: 896px;
  background-color: #F2D4B5;
  position: relative;
  z-index: 1;
  padding-top: 174px;
}

.speakers-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.speakers__svg {
  position: absolute;
  left: calc(50% - 540px);
  right: calc(50% - 540px);
  bottom: 0;
  z-index: -1;
}

.speakers__svg1 {
  display: none;
}

.speaker {
  position: relative;
}
.speaker__name {
  width: 313px;
  height: 109px;
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Asgard', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #000;
  text-align: center;
  position: absolute;
  bottom: -40px;
}

.speaker__container {
  width: 314px;
  height: 499px;
  border-radius: 170px / 250px;
  border: 1px solid #000;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.speaker__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: #fff;
  border-radius: 170px / 250px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speaker__education {
  margin-top: 10px;
}

.speaker:hover .speaker__overlay {
  opacity: 1;
}


.speakers__heading {
  position: absolute;
  right: 0;
  bottom: -130px;
  font-family: 'Asgard', sans-serif;
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
  letter-spacing: -0.02em;
  color: #000;
}

.meet {
  width: 100%;
  height: 833px;
  background: linear-gradient(to right, #2E2E2E 55%, white 45%);
}

.meet-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.meet__promo__heading {
  font-family: 'Asgard', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 45px;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 563px;
  margin-bottom: 29px;
}

.meet__promo__btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  padding: 12px 48px;
  background-color: #fff;
  border-radius: 22px;
}

.meet__promo__caption {
  margin-top: 10px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.meet__effects {
  display: flex;
  flex-direction: column;
  margin-right: -32px;
}

.meet__effect {
  width: 471px;
  height: 192px;
  border: 1px solid #000;
  margin-bottom: 12px;
  display: flex;
  align-items: flex-end;
  text-align: left;
  padding: 24px 54px;
}

.meet__effect:first-of-type {
  position: relative;
  padding-bottom: 37px;
}

.meet__effect__star {
  position: absolute;
  top: -37px;
  right: -49px;
}

.meet__effect__text1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  letter-spacing: -0.02em;
}

.meet__effect__text2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  letter-spacing: -0.02em;
}

.meet__effect__text3 {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  letter-spacing: -0.02em;
}

.invitation {
  position: relative;
  height: 1100px;
}

.invitation__svg {
  position: absolute;
  left: calc(50% - 540px);
  right: calc(50% - 540px);
  top: 0;
  z-index: -1;
}

.invitation__logo {
  position: absolute;
  right: 0;
  bottom: 83px;
  z-index: -1;
}

.invitation-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 854px;
}

.invitation__heading {
  font-family: 'Asgard', sans-serif;
  font-weight: 700;
  font-size: 70px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: #000;
  max-width: 676px;
  text-align: center;
  margin-bottom: 16px;
}

.invitation__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #000;
  max-width: 630px;
  margin-bottom: 36px;
  text-align: center;
}

.invitation__btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #fff;
  width: 424px;
  text-align: center;
  padding: 12px 0;
  background-color: #000;
  border-radius: 22px;
}

.invitation__capture {
  margin-top: 3px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #000;
}


.slider-quotes {
  height: 677px;
}
.slider-wrap {
  position: relative;
}
.slider-swiper-wrap {

  position: absolute;
  top: 228px;
  left: calc(50% - 430px);
  right: calc(50% - 430px);
}


.slider__btn__next {
  position: absolute;
  top: 40%;
  right: -72px;
  z-index: 3;
}

.slider__btn__prev {
  position: absolute;
  top: 40%;
  left: -91px;
  z-index: 3;
}

.slider__heading {
  position: absolute;
  top: 117px;
  left: calc(50% - 365px);
  right: calc(50% - 365px);
  font-family: 'Asgard', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: #000;
  text-align: center;
}

.slide-box {
  width: 858px;
  height: 286px;
  border: 1px solid #000000;
  position: relative;
}

.slide-box::before {
  content: '';
  width: 858px;
  height: 286px;
  border: 1px solid #000000;
  position: absolute;
  top: -11px;
  left: -9px;
  z-index: -1;
}
.slide-box1 {
  background-color: #FCD68D;
}
.slide-box2 {
  background-color: #E6A99F;
}
.slide-box3 {
  background-color: #CFD7C0;
}
.slide-box4 {
  background-color: #96CAC5;
}

.slide-quote {
  position: relative;
  height: 100%;
  padding: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide__author {
  position: absolute;
  top: 23px;
  left: 23px;
  display: flex;
  align-self: flex-start;
  align-items: center;
}

.author__placeholder {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #000;
}

.author {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000;
  margin-left: 12px;
}

.expression__text {
  max-width: 467px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000;
  text-align: center;
}

.dignity-popup {
  display: block;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: scroll;
}

.star-mob1 {
  position: absolute;
  top: -50px;
  left: -50px;
}

.star-mob2 {
  position: absolute;
  top: -70px;
  left: -70px;
}


.dignity-popup-hidden {
  display: none;
}
.popup__box {
  margin: 10% auto 15% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 937px;
  height: 584px;
  border: 1px solid #000000;
  background: radial-gradient(69.26% 137.5% at 46.58% 30.74%, #FFFFFF 9.45%, rgba(255, 255, 255, 0.4) 100%);
  position: relative;
}

.popup__close__btn {
  position: absolute;
  top: 35px;
  right: 35px;
}

.popup-container {
  margin: 116px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup__heading {
  font-family: 'Asgard', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #000;
  text-align: center;
  max-width: 421px;
  margin-bottom: 42px;
}

.dignity-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dignity-form__input {
  border: 1px solid #000000;
  width: 360px;
  height: 40px;
  padding: 10px 19px;
}

.dignity-form__btn {
  width: 315px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #fff;
  background-color: #000;
  padding: 12px 0;
  border-radius: 22px;
  margin-left: 25px;
}

.timer-line {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9;
  height: 85px;
  border: 1px solid #000000;
}

.timer-wrap {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 1340px;
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;
}

.timer__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000;
  max-width: 382px;
}

.timer__btn {
  width: 310px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #fff;
  background-color: #000;
  padding: 12px 0;
  border-radius: 22px;
}

.timer__btn__svg {
  display: none;
}

.timer__time {
  display: flex;

}

.timer__hours {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: center;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.02em;
  margin-right: 14px;
}

.timer__hours__text {
  font-family: 'Asgard', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.02em;
  color: #000;
}

.timer__days {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.02em;
  margin-right: 14px;
}
.timer__days__text {
  font-family: 'Asgard', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.02em;
  color: #000;
}
@media (min-width: 1024px) {
  .react-tel-input .form-control {
    width: 100%;
    height: 50px;
  }

  .react-tel-input .flag-dropdown{
    border: none;
  }

  .react-tel-input .form-control{
    padding-left: 65px;
  }

  .react-tel-input .selected-flag{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
  }

  .react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus, .react-tel-input .selected-flag.open{
    background-color: transparent;
  }

  .react-tel-input .flag-dropdown.open .selected-flag{
    background-color: transparent;
  }

  .react-tel-input .flag-dropdown.open{
    background-color: transparent;
  }

  .react-tel-input .form-control{
    border-radius: 5px;
  }
}



/* Медиа запросы на страницу */

@media (max-width: 1123px) {
  .wrapper {
    max-width: 300px;
    margin: 0 auto;
  }
  .intro {
    background-image: url("./assets/Website Assets/Dignity/Intro/5528488 1.png");
    height: 785px;
    background-position: bottom;
  }

  .intro__logo {
    width: 81px;
    height: 40px;
  }

  .intro__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .intro-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 123px;
    padding-bottom: 66px;
  }

  .intro__heading {
    font-family: 'Asgard', sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 38px;
  }

  .intro__paragraph {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 48px;
  }

  .intro__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 12px 45px;
    width: 300px;
  }

  .cards-container {
    background-color: #FAF2E7;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 161px 0;
  }
  .card {
    overflow: hidden;
    width: 300px;
    height: 490px;
    position: relative;
    perspective: unset;
  }

  .card__date {
    font-family: 'Asgard', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #000;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .left {
    justify-content: flex-start;
  }

  .card__announce-front {
    font-family: 'Asgard', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #000;
    width: 253px;
  }

  .card__announce-back {
    font-family: 'Asgard', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #fff;
    width: 251px;
  }

  .card__description {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
  }

  .card__speaker {
    margin-top: 24px;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
  }

  .card__btn {
    width: 251px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    border-radius: 22px;
    padding: 11px 0;
  }

  .card__open__btn {
    position: absolute;
    bottom: 28px;
    right: 30px;
  }

  .frontM,
  .backM {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    backface-visibility: hidden;
    border: 1px solid #000000;
  }

  .frontM {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    align-items: flex-start;
  }

  .backM {
    background-color: #2E2E2E;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 31px 27px;
    transition: all 0.2s ease-in-out;
    color: #FFFFFF;
    opacity: 1;
  }
  .card:hover .back {
    opacity: 1;
  }

  .card__nextcard__btn {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
  }

  .starM-left {
    position: absolute;
    top: -30px;
    z-index: 3;
  }

  .starM-right {
    position: absolute;
    top: -30px;
    right: 0;
    z-index: 3;
  }

  .speakers {
    height: max-content;
    padding-top: 0;
  }

  .speakers-list {
    flex-direction: column;
    padding-top: 157px;
  }
  .speakers__svg {
    min-width: 1363px;
    position: absolute;
    right: calc(50% - 681px);
    left: calc(50% - 681px);
    top: 0;
    transform: rotateX(180deg);
    z-index: -1;
  }

  .speakers__svg1 {
    display: block;
    min-width: 1363px;
    position: absolute;
    right: calc(50% - 681px);
    left: calc(50% - 681px);
    bottom: 0;
    z-index: -1;
  }

  .speaker {
    position: relative;
    margin-bottom: 65px;
    margin-top: 0;
    overflow: hidden;
  }

  .speaker__name {
    width: 251px;
    height: 87px;
    font-size: 20px;
    line-height: 20px;
    bottom: 0px;
    left: 25px;
    padding: 10px;
    text-align: center;
  }

  .speaker__container {
    width: 272px;
    height: 433px;
  }

  .speaker__container:first-child {
    filter: brightness(1);
    transform: scale(0.95);
    width: 100%;
    height: 100%;
    border: 10px solid #fff;
    border-radius: 100%;
    outline: 1px solid #000;

  }

  .speaker__overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: 0.2s ease;
    background-color: transparent;
    border-radius: unset;
    border: none;
  }

  .speaker__education {
    margin-top: unset;
  }
  .speakers__heading {
    position: absolute;
    right: unset;
    bottom: unset;
    top: 60px;
    font-family: 'Asgard', sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: -0.02em;
    color: #000;
  }

  .speaker__btn {
    position: absolute;
    z-index: 4;
    bottom: 9px;
    right: 40px;
  }

  .overlay__visible {
    opacity: 1;
  }

  .overlay__bg {
    filter: brightness(0) invert(1);
  }

  .meet {
    width: 100%;
    height: 673px;
    background: #2E2E2E;
  }

  .star-mob1 {
    top: -50px;
    left: 15px;
  }

  .star-mob2 {
    top: -70px;
    left: 10px;
  }


  .meet-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }
  .meet__promo {
    margin: 65px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .meet__promo__heading {
    font-size: 25px;
    line-height: 25px;
    max-width: 300px;
    margin-bottom: 52px;
    text-align: center;
  }

  .meet__promo__btn {
    width: 300px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    padding: 11px;
    background-color: #fff;
    border-radius: 22px;
  }

  .meet__promo__caption {
    margin-top: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-align: center;
  }

  .meet__effects {
    position: absolute;
    top: 167px;
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }

  .meet__effect {
    width: 300px;
    height: 90px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 11px 31px;
  }

  .meet__effect__star {
    width: 54px;
    height: auto;
    position: absolute;
    top: -30px;
    right: -25px;
  }

  .meet__effect__text1 {
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }

  .meet__effect:first-of-type {
    padding-bottom: 11px;
  }

  .meet__effect__text2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }

  .meet__effect__text3 {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }

  .invitation {
    position: relative;
    height: 735px;
  }

  .invitation__svg {
    min-width: 836px;
    position: absolute;
    right: calc(50% - 418px);
    left: calc(50% - 418px);
    bottom: 0;
    z-index: -1;
  }

  .invitation__logo {
    width: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .invitation-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 735px;
  }

  .invitation__heading {
    width: 300px;

  }

  .invitation__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    max-width: 300px;
  }

  .invitation__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    width: 300px;
  }

  .invitation__caption {
    text-align: center;
    margin-top: 12px;
    font-size: 14px;
    line-height: 14px;
  }

  .slider-quotes {
    height: 615px;
  }
  .slider-wrap {
    position: relative;
  }
  .slider-swiper-wrap {
    position: absolute;
    top: 163px;
    left: calc(50% - 120px);
    right: calc(50% - 120px);
  }


  .slider__btn__next {
    transform: scale(0.5);
    position: absolute;
    top: 40%;
    right: -40px;
    z-index: 3;
  }

  .slider__btn__prev {
    transform: scale(0.5);
    position: absolute;
    top: 40%;
    left: -50px;
    z-index: 3;
  }

  .slider__heading {
    position: absolute;
    top: 65px;
    left: calc(50% - 150px);
    right: calc(50% - 150px);
    font-family: 'Asgard', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
  }

  .slide-box {
    width: 239px;
    height: 377px;
    border: 1px solid #000000;
    position: relative;
  }

  .slide-box::before {
    content: '';
    width: 239px;
    height: 377px;
    border: 1px solid #000000;
    position: absolute;
    top: -11px;
    left: -9px;
    z-index: -1;
  }

  .slide-quote {
    padding: 9px;
  }

  .slide__author {
    position: absolute;
    top: unset;
    bottom: 17px;
    left: 33px;
  }

  .author__placeholder {
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 14px;
    border: 1px solid #000;
  }

  .author {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-left: 12px;
  }

  .expression__text {
    max-width: 222px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #000;
    text-align: center;
  }

  .popup__box {
    margin: 15vh auto 15vh auto;
    width: 300px;
    height: 584px;
    border: 1px solid #000000;
    background: radial-gradient(69.26% 137.5% at 46.58% 30.74%, #FFFFFF 9.45%, rgba(255, 255, 255, 0.4) 100%);
    position: relative;
  }

  .popup__close__btn {
    position: absolute;
    transform: scale(0.6);
    top: 20px;
    right: 20px;
  }

  .popup-container {
    margin: 150px 16px 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .popup__heading {
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    max-width: 269px;
    margin-bottom: 29px;
    margin-left: 17px;
  }

  .dignity-form__input {
    border: 1px solid #000000;
    width: 270px;
    height: 40px;
    padding: 10px 15px;
    margin-left: 15px;
  }

  .dignity-form__btn {
    width: 270px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 41px;
    margin-left: 15px;
  }

  .timer-line {
    background-color: #fff;
    position: fixed;
    bottom: unset;
    top: 0;
    height: 77px;
  }

  .timer-wrap {
    max-width: 327px;
    padding: 16px 0;
  }

  .timer__description {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    max-width: 138px;
  }

  .timer__btn {
    width: unset;
    background-color: transparent;
    padding: 0;
  }
  .timer__btn__text {
    display: none;
  }
  .timer__btn__svg {
    display: block;
  }

  .timer__time {
    display: flex;
  }

  .timer__hours {
    display: flex;
    flex-direction: column;
    align-items: unset;
    justify-content: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: -0.02em;
    margin-right: 6px;
  }

  .timer__hours__text {
    font-family: 'Asgard', sans-serif;
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    letter-spacing: -0.02em;
    color: #000;
  }

  .timer__days {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: -0.02em;
    margin-right: 6px;
  }
  .timer__days__text {
    font-family: 'Asgard', sans-serif;
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    letter-spacing: -0.02em;
    color: #000;
  }
}


