@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Montserrat", Arial, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
.swiper-pagination-bullet-active {
  background-color: #99a66d !important;
}

.swiper-slide {
  transition: all 0.2s ease-in-out;
}

.swiper-slide-prev {
  opacity: 0;
}

.swiper-slide-next {
  opacity: 0;
}

.swiper {
  overflow: visible;
}

.swiper-pagination {
  margin-bottom: -65px;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  background-color: #585858;
}

#mobileButtonMenu {
  z-index: 100 !important;
}

.swiper-button-next {
  background-color: #000;
  color: #fff;
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}
.swiper-button-next::after {
  font-size: 14px;
}
.swiper-button-prev {
  background-color: #000;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.swiper-button-prev::after {
  font-size: 14px;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

@media (min-width: 1024px) {
  .react-tel-input .form-control {
    width: 100%;
    height: 50px;
  }

  .react-tel-input .flag-dropdown{
    border: none;
  }

  .react-tel-input .form-control{
    padding-left: 65px;
  }

  .react-tel-input .selected-flag{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
  }

  .react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus, .react-tel-input .selected-flag.open{
    background-color: transparent;
  }

  .react-tel-input .flag-dropdown.open .selected-flag{
    background-color: transparent;
  }

  .react-tel-input .flag-dropdown.open{
    background-color: transparent;
  }

  .react-tel-input .form-control{
    border-radius: 5px;
  }
}

